<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/styles.css">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark nav-bg">   
      <!-- 0aaeef -->
      <div class="container-fluid">
        <div class="navbar-brand">BloggoSoft</div>
        <!-- Button for navbar collapse  -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible portion of navbar -->
        <div class="collapse navbar-collapse" id="navbar">
          {% if user.is_authenticated %} 
            <ul class="navbar-nav me-auto mt-2">
              <!-- <li class="nav-item">
                <a class="nav-link" href="{{ url_for('views.home') }}">Home</a>
              </li> -->
              <li>
                <a class="nav-link" href="{{ url_for('views.create_post') }}">Create Post</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto mt-2">
              <li>
                <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
              </li>
            </ul>
          {% else %} 
            <ul class="navbar-nav me-auto mt-2">
              <!-- <li class="nav-item">
                <a class="nav-link" href="{{ url_for('views.home') }}">Home</a>
              </li> -->
            </ul>
            <ul class="navbar-nav ms-auto mt-2">
              <li>
                <a class="btn btn-outline-light mx-2" href="{{ url_for('auth.login') }}">Login</a>
              </li>
              <li>
                <a class="btn btn-light" href="{{ url_for('auth.sign_up') }}">Register</a>
              </li>
            </ul>
          {% endif %} 
        </div>
      </div>
    </nav>
    
    {% with messages = get_flashed_messages(with_categories=true) %} 
      {% if messages %} 
        {% for category, message in messages %} 
          {% if category == 'error' %}
            <div class="alert alert-danger alter-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
          {% else %}
            <div class="alert alert-success alter-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
          {% endif %} 
        {% endfor %} 
      {% endif %} 
    {% endwith %}
    
    <!-- <div class="container">{% block main %}{% endblock %}</div> -->
    {% block content %} {% endblock %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js')}}"
    ></script>
  </body>
</html>
