{% extends "base.html" %} {% block title %}Home{% endblock %} 

{% block content %}
<div class="container">


  {% block header %}
  <div class="d-flex justify-content-between align-items-center">
    <div><h1>Posts</h1></div>
    <div>Logged in as: <strong>{{ current_user.username }}</strong></div>
  </div>
  {% endblock %} 

<div id="posts">
  {% for post in posts.items %}
  <div class="card border-dark">
    <div class="card-header d-flex justify-content-between align-items-center">
      <a href="/posts/{{post.user.username}}" title="See posts from {{ post.user.username }}">{{post.user.username}}</a>
      <div class="d-flex my-1">
        <span class="mx-1" id="likes-count-{{post.id}}">
          {{ post.likes|length }}</span> 
          {% if user.id in post.likes|map(attribute="author")|list %}
        <div class="mx-1">
          <i class="material-icons like" id="like-button-{{post.id}}" style="color: rgb(254,60,52)" onclick="like({{post.id}})" title="Unlike">
            favorite
          </i>
        </div>

        {% else %}
        <div class="mx-1">
          <i class="material-icons like" id="like-button-{{post.id}}" style="color: rgb(254,60,52)" onclick="like({{post.id}})" title="Like">
            favorite_outline
          </i>
        </div>
        {% endif %} 
        
        {% if user.id == post.author %}
        <div class="mx-1">
          <a href="" title="Delete post" data-bs-toggle="modal" data-bs-target="#postDeleteModal" data-bs-postid="{{ post.id }}">
            <span class="material-icons" style="color: rgb(60, 60, 60)">delete_outline</span>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="card-body">
      <div class="card-text blog-text">{{post.text}}</div>
      <br />
      <div class="collapse" id="comments-{{post.id}}">
        <div class="card">
          <div class="card-body" id="comments-expanded-{{post.id}}">
            {% for comment in post.comments %}
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <a href="/posts/{{comment.user.username}}"
                  >{{comment.user.username}}</a
                >: {{comment.text}}
              </div>
              <div>
                <small class="text-muted"> {{ comment.date_created.strftime('%Y-%m-%d') }}</small>
                {% if user.id == comment.author or user.id == post.author %}
                <!-- Comment delete button -->
                <div class="btn-group mx-1">
                  <a href="/delete-comment/{{ comment.id }}" title="Delete comment">
                    <span class="material-icons" style="color: rgb(60, 60, 60)">delete_outline</span>
                  </a>
                </div>

                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <p class="card-text">
        {% if post.comments|length > 0 %}
        <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button" title="Show/hide comments">
          <small>
            Show/hide {{post.comments|length}} 
            {% if post.comments|length == 1 %} 
            Comment
            {% else %} 
            Comments
            {% endif %} 
          </small>
        </a>
        {% else %}
        <small class="text-muted">No Comments</small>
        {% endif %}
      </p>
      <form
        class="input-group mb-3"
        method="POST"
        action="/create-comment/{{post.id}}"
      >
        <input
          type="text"
          id="text"
          name="text"
          class="form-control"
          placeholder="Comment something!"
        />
        <button type="submit" class="btn btn-primary">Comment</button>
      </form>
    </div>
    <div class="card-footer text-muted">{{post.date_created.strftime("%m-%d-%Y")}}</div>
  </div>
  <br/ > 


{% endfor %}


<!-- Delete post modal -->
<div class="modal fade" id="postDeleteModal" tabindex="-1" aria-labelledby="postDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postDeleteModalLabel">Delete post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this post?
        <br>
        <form action="/delete-post" id="deletePostForm" method="POST"> 
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Delete post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- TODO: Delete comment modal -->

<!-- Pagination -->
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %} 
  {% if page_num %}
    {% if posts.page == page_num %} 
      <a href="{{ url_for('views.home', page=page_num) }}" class="btn btn-info mb-4">{{ page_num }}</a>
    {% else %}
      <a href="{{ url_for('views.home', page=page_num) }}" class="btn btn-outline-info mb-4">{{ page_num }}</a>
    {% endif %}
  {% else %} 
    ...
  {% endif %} 

{% endfor %} 

{% endblock %}
