{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<div class="container">
<h3 class="mb-3">Sign Up</h3>
<form method="POST">

  {{ form.hidden_tag() }}

  <div class="form-floating">
    {% if form.email.errors %} 
      {{ form.email(class="form-control is-invalid", placeholder="name@example.com") }}
      {% for error in form.email.errors %} 
        <div class="invalid-feedback">
          <span>{{ error }}</span>
        </div>
      {% endfor %} 
    {% else %} 
      {{ form.email(class="form-control", id="floatingInput", placeholder="name@example.com") }} 
    {% endif %} 
    {{ form.email.label(for="floatingInput") }}
  </div>
  <div class="form-floating">
    {% if form.username.errors %} 
      {{ form.username(class="form-control is-invalid", placeholder="Username") }}
      {% for error in form.username.errors %} 
        <div class="invalid-feedback">
          <span>{{ error }}</span>
        </div>
      {% endfor %} 
    {% else %} 
      {{ form.username(class="form-control", id="floatingInput", placeholder="Username") }} 
    {% endif %}
    {{ form.username.label(for="floatingInput") }}
  </div>
  <div class="form-floating">
    {% if form.password.errors %} 
      {{ form.password(class="form-control is-invalid", placeholder="Password") }}
      {% for error in form.password.errors %} 
        <div class="invalid-feedback">
          <span>{{ error }}</span>
        </div>
      {% endfor %} 
    {% else %} 
      {{ form.password(class="form-control", id="floatingPassword", placeholder="Password")}}
    {% endif %} 
    {{ form.password.label(for="floatingInput") }}
  </div>

  {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
  
  <div class="border-top pt-3">
      <small class="text-muted">
          Have an account? <a class="ml-2" href="{{ url_for('auth.login') }}">Sign in</a>
      </small>
  </div>

  <p class="mt-3 mb-3 text-muted">&copy; BloggoSoft</p>

  
</form>
</div>
{% endblock %}
